.App {
  padding: 30px;
  display: flex;
}

.App > div {
  margin-right: 50px;
}
.error {
  border:1px solid red;
}
.color {
  background-color: green;
}
.is-done {
  opacity: 0.5;
text-decoration: line-through;

}
